*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
header{
    position: relative;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;

}
header .navbar .logo img{

    width: 80px;
    height: 60px;

}
header .navbar .links{
    display: flex;
    gap: 2rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black ;
    font-size: 1rem;
}
a:hover{
    color: red;
}

header .nav-icon .bi-list{
    color:black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
/* DROPDOWN MENU */
.dropdown_menu{
    position: absolute;
    right: 2rem;
    top: 60px;
    height:0px;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);


}
.dropdown_menu.open{
    height: 150px;
    z-index: 100;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*RESPONSIVO */
@media(max-width: 720px){
    header .navbar .links{
        display: none;
    }
    header .nav-icon .bi-list{
        display:block ;
    }
    .dropdown_menu{
        display: block;
    }
}
@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width:unset ;
       
    }
}
/* slader */
.interface{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.slider{
    height: 100vh;
    position: relative;
}
.slider .slide-conteiner .slide-box{
    position: absolute;
    inset: 0;
    
    
}
.slider .slide-conteiner .slide-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .slide-conteiner .slide-box::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000, transparent);
    position: absolute;
    top: 0;
    left: 0;
}

.slider .slide-conteiner .slide-box .text-slider{
    position: absolute;
    left:10%;
    top: 35%;
    color: white;
    z-index: 1;
    width: 80%;
    max-width: 600px;
}
.slider .slide-conteiner .slide-box .text-slider h2{
    font-size:5rem ;
}
.setas{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3% ;
}
 .setas button{
    width: 30px;
    height: 30px;
    background-color: #747474;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .2s;
 }
 .setas button:hover{
    background-color: white;
 }
 /* estilo de navegaçao */
 .btn-nav-box{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

 }
 .btn-nav-box .btn-nav{
    width: 30px;
    height: 10px;
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
 }
 .btn-nav-box .btn-nav:hover{
    background-color: white;
 }